.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@font-face {
    font-family: "Epilogue";
    src: url(fonts/Epilogue-Regular.ttf);
}
body
{
    height: 100%;
    width: 100%;
    font-family: Epilogue;
}
nav 
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.logo
{
    margin-left: 20px;
}
.logo > img
{
    height: auto;
    width: 60px;
}

.navigation > ul
{
    list-style: none;
}
.navigation > ul > li
{
    display: inline;
    color: hsl(0, 0%, 41%);
    font-size: small;
    margin-right: 20px;
}

.log-reg
{
    margin-left: auto;
    margin-right: 20px;
}
.log-reg > ul
{
    list-style: none;
}
.log-reg > ul > li 
{
    display:inline;
    padding: 5px 10px 5px 10px;
    color: hsl(0, 0%, 41%);
    font-size: small;
}
#regButton
{
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: hsl(0, 0%, 41%);
}

main
{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.leftMain
{
    width: 50%;
}
.leftMainContent
{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:35%;
    height: 100%;
}
.leftMainContent > button
{
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
}
.leftMainContent > p
{
    line-height: 1.4;
    color: hsl(0, 0%, 41%);
    margin: 20px 0px 20px 0px;
}
.clients
{
    display:flex;
    align-items: center;
    margin-top: 50px;
}
.clients > img{margin-right:20px;}
.headers{margin-top: 30px ;margin-bottom: 10px;}
.headers > h1
{
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 5px;
    color:hsl(0, 0%, 8%);
}

.rightMain
{
    width: 50%;
    height: 100%;
}
.rightMain > img
{
   height: 500px;
   margin-left: 15%;
}